[submodule "models"]
	path = models
	url = https://github.com/tensorflow/models.git
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "tensorflow_object_detection_create_coco_tfrecord"]
	path = tensorflow_object_detection_create_coco_tfrecord
	url = https://github.com/MetaPeak/tensorflow_object_detection_create_coco_tfrecord.git
[submodule "cocoapi"]
	path = cocoapi
	url = https://github.com/cocodataset/cocoapi.git
